@font-face {
  font-family: "s-icon";
  src: url('iconfont.woff2') format('woff2'),
       url('iconfont.woff') format('woff'),
       url('iconfont.ttf') format('truetype');
}

.s-icon {
  font-family: "s-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.s-yanzhengma:before {
  content: "\e704";
}

.s-yanzhengma1:before {
  content: "\e696";
}

.s-yanzhengma2:before {
  content: "\e605";
}

.s-yulan-guanbi-L:before {
  content: "\e617";
}

.s-yulan-L:before {
  content: "\e618";
}

.s-denglumima:before {
  content: "\e665";
}

.s-querenmima:before {
  content: "\e666";
}

.s-jiahao:before {
  content: "\e613";
}

.s-jianhao:before {
  content: "\e614";
}

.s-cha:before {
  content: "\e641";
}

.s-xiayiye:before {
  content: "\e77c";
}

.s-shangyiye:before {
  content: "\e77d";
}

.s-xiangxia:before {
  content: "\e77e";
}

.s-xiangshang:before {
  content: "\e77f";
}

.s-computer_fill:before {
  content: "\e6eb";
}

.s-computer:before {
  content: "\e6ec";
}

.s-coordinates_fill:before {
  content: "\e6ed";
}

.s-coordinates:before {
  content: "\e6ee";
}

.s-manage_fill:before {
  content: "\e70b";
}

.s-manage:before {
  content: "\e70c";
}

.s-setup_fill:before {
  content: "\e728";
}

.s-setup:before {
  content: "\e729";
}

.s-time_fill:before {
  content: "\e735";
}

.s-time:before {
  content: "\e736";
}

.s-trash:before {
  content: "\e738";
}

.s-trash_fill:before {
  content: "\e739";
}

.s-edit:before {
  content: "\e649";
}

.s-location:before {
  content: "\e651";
}

.s-roundcheckfill:before {
  content: "\e656";
}

.s-roundcheck:before {
  content: "\e657";
}

.s-roundclosefill:before {
  content: "\e658";
}

.s-roundclose:before {
  content: "\e659";
}

.s-scan:before {
  content: "\e689";
}

.s-form:before {
  content: "\e699";
}

.s-qrcode:before {
  content: "\e6b0";
}

.s-friendaddfill:before {
  content: "\e6c9";
}

.s-friendadd:before {
  content: "\e6ca";
}

.s-round:before {
  content: "\e6d7";
}

.s-female:before {
  content: "\e71a";
}

.s-male:before {
  content: "\e71c";
}

.s-markfill:before {
  content: "\e730";
}

.s-mark:before {
  content: "\e731";
}

.s-my:before {
  content: "\e78b";
}

.s-myfill:before {
  content: "\e78c";
}

.s-sortlight:before {
  content: "\e7ad";
}

.s-home_light:before {
  content: "\e7d4";
}

.s-home_fill_light:before {
  content: "\e7d8";
}

.s-search_light:before {
  content: "\e7da";
}

.s-global_light:before {
  content: "\e7ea";
}

.s-global:before {
  content: "\e7eb";
}

.s-card_fill:before {
  content: "\e81f";
}

